h1.CTitle{
  display: block;
  text-align: center;
  padding-top:12%;
}

.Letter__CTitle{
  font-size: 100px;
}

.contact_icons a{
  display: inline-block;
  padding-left: 5%;
  padding-right: 5%;

}


.contact_icons img{
  height: 80px;
  width: 80px;


}
