@import url('https://fonts.googleapis.com/css?family=Nunito');

#Navbar {
  overflow: hidden;
  top:0;
  right: 0;
  position: fixed;
  background-color: white;
  opacity: .8;
  width: 100vw;
}

/* Navbar links */
#Navbar li{
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;

}

#Navbar li a {
    font-family: 'Nunito', sans-serif;
    display: block;
    color: #3A3A32;
    padding: 0px 15px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Mukta', sans-serif;
}

#Navbar li a:hover {
    color: #A31022;
    text-decoration: underline;
}


.toTopWrapper{
  position:relative;

}

#toTop{
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
  width:20px;
  height:20px;
  padding: 10px;
  opacity: .8;

}
