
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

@keyframes mDown {
    0% {
      top: 0px;
    }
    50% {
      top: 50px;
    }
    100% {
      top: 0px;
  }
}

:hover {
transition: top 2s;
transition-duration: 2s;
top: 50px;
}



span{
  line-height: 110px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 800;
  letter-spacing: -20px;
  mix-blend-mode: color-burn;
  position: relative;
  top: 0px;
  transition: top 2s;
  transition-delay: 0.18s;
  opacity: 0.9;

}
