
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

@keyframes move {
    0% {
      top: 0px;
    }
    50% {
      top: 35px;
    }
    100% {
      top: 0px;
  }
}

@keyframes moved {
    0% {
      top: 0px;
    }
    25%{
      top : 40px;
    }
    50% {
      top: 0px;
    }

    100% {
      top: 40px;
  }
}

.hovered {
  animation: mDown 3s;
}

#Letter{
  line-height: 110px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 800;
  letter-spacing: -20px;
  mix-blend-mode: color-burn;
  position: relative;

  animation: move 1s ease-out;
  animation-fill-mode: forwards;
  opacity: 0.9;

}
#Letter:hover {

animation: moved 1s ease-out;
animation-fill-mode: forwards;
}
