@import url('https://fonts.googleapis.com/css?family=Nunito');

h1.ATitle {

  text-align: left;
  padding-left: 20%;
  padding-top:14%;
}

.bio{
 font-family: 'Nunito', sans-serif;
 font-size: 20px;
 text-align: left;
 padding-left: 20%;
 padding-right: 20%;
}

.Letter__ATitle{
  font-size: 100px;
}
