@import url('https://fonts.googleapis.com/css?family=Nunito');

.LiftSpotter{
  padding-top: 5%;
  font-family: 'Nunito', sans-serif;

}

.LiftSpotter  h1{
  text-align: center;
}

.LiftSpotter   p{
  font-size: 10px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width:30%
}
.LiftSpotter   h2{
  text-align:left;
  margin-left: auto;
  margin-right: auto;
  width:30%
}
.LiftSpotter i{
  font-size: 10px;
  margin-left: auto;
  margin-right: auto;
  width:30%
}

.LiftSpotter figure{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
