.Welcome{
  height: 100vh;
}

.About{
   height: 100vh;
}

.Portfolio{
  height: 100vh;
}

.Contact{
  height: 100vh;
}

/* .HomePage{
  float:left;
  display: block;
  color: black;
  text-align: center;
  padding-left: 10%;
  font-size: 60px;
} */
