.Welcome{
  height: 100vh;
}

h1.Name{
  margin-left: 40px;
  display: block;
  text-align: left;
  padding-top: 10%;

}

.Letter__WName{
  font-size: 200px;
}

#F{
  color: #1478CC;
}
#R{
  color: #3D6F99;
}
#A{
  color: #00FFEC;
}
#N{
  color: #FF6340;
}
#K{
  color : #CC8481;
}
#W{
  color: #3D6F99;
}
#E{
  color: #00FFEC;
}
#I{
  color: #FF6340;
}
